<div class="d-flex flex-column flex-md-row alig-bg pb-3 mb-4 border-bottom bg-menu">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">     
        <app-header></app-header>
    </a>

    <div class="nav-1">
        <nav class="d-inline-flex mt-3 mt-md-0 ms-md-auto">
            <a class="nav-2 me-3 py-2 text-light text-decoration-none" href="#">Sobre</a>
            <a class="nav-2 me-3 py-2 text-light text-decoration-none" href="#">Produtos</a>
            <a class="nav-2 me-3 py-2 text-light text-decoration-none" href="#">Suporte</a>      
        </nav>
    </div>

    <div class="mb-3 align-items-left">
        <label for="formGroupExampleInput" class="form-label"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="O que você está buscando?">        
    </div>

    <div class="lg-1">
        <a class="btn btn-outline text-decoration-none text-light align-items-center a-lg" href="#">
            <img class="login" src="https://saobras.al.gov.br/cpl/img/login.png" alt=""> Login
        </a>
    </div>
    

    
</div>

